@charset "UTF-8";
section {
    margin: 10px;
}
article {
    margin: 5px;
}
.titulo-h1 {
    text-align: center;
    margin: 5px;
}
h1 {
    text-align: center;
}
p {
    text-indent: 1.5em;
    text-align: justify;
    margin-bottom: 5px;
    padding: 5px;
}

/* PAG. TABELA DE CORES ↓ */
.tabela-de-opacidade td {
    text-align: center;
    width: 50%;
}
.tabela-de-cores {
    align-items: baseline;
    display: inline-table;
    padding: auto;
}
.tabela-de-cores table {
    box-shadow: 2px 2px 2px 1px silver;
    border: silver solid 1px;
    width: 310px;
    margin: auto;
    font-size: 10pt;
    text-align: left;
    background-color: rgba(255, 255, 255, 1)
}
.tabela-de-cores table td {
    padding: 5px;
}
/* PAG. TABELA DE CORES ↑ */